@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-outline-primary {
    @apply border border-solid border-primary;
    @apply py-1 px-6;
    border-radius: 15px;
  }
  .btn-outline-primary:hover {
    @apply text-primary;
  }
}

body {
  @apply m-0;
  @apply text-black;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
